[submodule "audio_video_example"]
	path = audio_video_example
	url = https://github.com/chensongpoixs/caudio_video.git
[submodule "video_codec"]
	path = video_codec
	url = https://github.com/chensongpoixs/cvideo_codec.git
[submodule "jpeg_encode_decoder"]
	path = jpeg_encode_decoder
	url = https://github.com/chensongpoixs/cjpeg_encode_decoder.git
